<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1부터-n까지-연속한-숫자의-합-구하기" data-toc-modified-id="1부터-n까지-연속한-숫자의-합-구하기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1부터 n까지 연속한 숫자의 합 구하기</a></span><ul class="toc-item"><li><span><a href="#추가-연습문제" data-toc-modified-id="추가-연습문제-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>추가 연습문제</a></span></li></ul></li><li><span><a href="#최댓값-찾기" data-toc-modified-id="최댓값-찾기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>최댓값 찾기</a></span><ul class="toc-item"><li><span><a href="#추가-연습문제---1" data-toc-modified-id="추가-연습문제---1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>추가 연습문제 - 1</a></span></li></ul></li><li><span><a href="#동명이인-찾기" data-toc-modified-id="동명이인-찾기-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>동명이인 찾기</a></span><ul class="toc-item"><li><span><a href="#추가-연습문제" data-toc-modified-id="추가-연습문제-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>추가 연습문제</a></span></li></ul></li></ul></div>

# 1부터 n까지 연속한 숫자의 합 구하기

In [1]:
# sum 함수 사용
def sum_n(n):
    return sum(range(1,n+1))

In [2]:
sum_n(10)

55

In [3]:
# 반복문을 통해 하나씩 더하기 => O(n)
def sum_n2(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [4]:
sum_n2(10)

55

In [11]:
# 가우스 공식 이용 - n값(입력값)의 크기와 상관 없이 +,*,// 각각 한 번씩만 하면 답을 얻을 수 있음 => O(1)
def sum_n3(n):
    return n*(n+1)//2

In [12]:
sum_n3(10)

55

- 알고리즘 분석 시 입력 크기가 매우 큰 n에 대해 따져보는 것이 중요

## 추가 연습문제
- 1부터 n까지 연속한 숫자의 제곱의 합 구하기

In [15]:
# for 반복문 이용 - 1
def power1(n):
    result = 0
    for i in range(1,n+1):
        result += i**2    # i**2 = i*i
    return result

In [16]:
power1(10)

385

In [3]:
# for 반복문 이용 - 2 (pow() 함수)
def power2(n):
    result = 0
    for i in range(1,n+1):
        result += pow(i,2)
    return result

In [4]:
power2(10)

385

In [6]:
# 공식 이용
def power3(n):
    return n*(n+1)*(2*n+1)//6

In [7]:
power3(10)

385

# 최댓값 찾기
- 주어진 숫자 n개 중 가장 큰 숫자 찾기

In [10]:
# test list
list1 = [17, 92, 18, 33, 58, 7, 33, 42]

In [11]:
# 간단한 함수 max 사용
def max_value(l):
    return max(l)

In [12]:
max_value(list1)

92

In [22]:
# 하나씩 비교해가며 찾기 - 1 => O(n)
def max_value2(l):
    max_num = l[0]
    for i in range(1,len(l)):     # l[1:]로 대체 가능
        max_num = max(max_num, l[i])
    return max_num

In [23]:
max_value2(list1)

92

In [19]:
# 하나씩 비교해가며 찾기 - 2 => O(n)
def max_value3(l):
    max_num = l[0]
    for n in l[1:]:
        if max_num < n:
            max_num = n
    return max_num

In [21]:
max_value3(list1)

92

## 추가 연습문제 - 1
- 리스트에 숫자가 n개 있을 때 가장 큰 값이 있는 위치 번호를 돌려주는 알고리즘 만들기

In [28]:
def find_max_value_index(l):
    max_idx = 0
    for i in range(1,len(l)):  
        if l[max_idx] < l[i]:    # 최대값 자체는 필요 없으니, index만 기억하면 됨
            max_idx = i
    return max_idx

In [29]:
find_max_value_index(list1)   # list1 = [17, 92, 18, 33, 58, 7, 33, 42]

1

In [30]:
list1[1]

92

# 동명이인 찾기
- n명의 사람 이름 중에서 같은 이름을 찾아 집합으로 만들어 반환
- 입력: n명의 이름이 들어있는 list
- 출력(결과): 같은 이름들이 들어있는 set

In [56]:
# test list
test = ['Tom','Jerry','Mike','Tom']

In [62]:
def find_same_name(name_list):
#     # 소문자화
#     test = list(map(lambda x: x.lower(), test)) 
    # 중복 이름 찾기
    result = set()
    for i in range(len(name_list)-1):    # 맨 마지막은 검사 안해도됨(앞에서 이미 함)
        if name_list[i] in name_list[i+1:]:
            result.add(name_list[i])
    return result

In [63]:
find_same_name(test)

{'Tom'}

In [64]:
test2 = ['Tom','Jerry','Mike','Tom', 'Park','Park']
find_same_name(test2)

{'Park', 'Tom'}

## 추가 연습문제
- n명 중 두 명을 뽑아 짝을 짓는다고 할 때, 짝을 지을 수 있는 모든 조합을 출력하는 알고리즘을 만들어보자
- ex. ['Tom','Jerry','Mike']  =>        
Tom  -  Jerry     
Tom  -  Mike       
Jerry  -  Mike

In [69]:
def find_partner(name_list):
    for i in range(len(name_list)-1):   # 마지막 값 제외 (이미 앞에서 비교함)
        for j in range(i+1,len(name_list)):   # i+1번째 부터 비교
            print(name_list[i], ' - ', name_list[j])

In [70]:
name = ['Tom','Jerry','Mike']

In [71]:
find_partner(name)

Tom  -  Jerry
Tom  -  Mike
Jerry  -  Mike